<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HELLO</h1>
    <form action="/getBook" method="post">
        <input name="book" id="bookId" ></input>
        <button>submit</button>
       
    </form>
    <% if (locals.image) { %>
        <img src =" <%= image %>" alt="book cover" >
   <% } %>
</body>
</html>